<!DOCTYPE html>
<html>
<title>Weather App</title>

<head>
    <title>About</title>
    <link rel="icon" href="/img/dolphin.jpg">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class ="portrait" src="/img/dolphin.jpg">
    </div>
    {{>footer}}
</body>
</html>