<!DOCTYPE html>
<html>
<title>Weather App</title>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/dolphin.jpg">
    <link rel="stylesheet" href="/css/styles.css">  
</head>

<body>
     <div class="main-content">
        {{>header}}

        <h2>Get Weather Details!</h2>
        <form>
            <input type="text" placeholder="Location Name"/>
            <button>Search</button>
        </form>

        <p id='p1'></p>
        <p id='p2'></p>
     </div> 
     {{>footer}}

     <script src="/js/app.js"></script>
</body>
</html>